<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">
    <title>五子棋</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
    <style>
        #container {
            display: flex;
            justify-content: center;
        }

        #board {
            display: block;
            align-self: center;
        }

        #menu {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .menu-item {
            display: block;
            margin: 10px;
        }
    </style>
</head>
<body>
<div id="container">
    <canvas id="board" width="750" height="750"></canvas>
    <div id="menu">
        <div id="info" class="menu-item">
        </div>
        <button id="start-btn" class="menu-iem">开始</button>
        <button id="restart-btn" class="menu-item">重开</button>
        <select id="player_type" class="menu-item">
            <option value="1" selected="selected">先手(黑子)</option>
            <option value="2">后手(白子)</option>
        </select>
    </div>
</div>
<script>
    let board_size = 700
    let line_num = 15
    let cell_size = board_size / (line_num - 1)
    let pad = 20

    let piece_size = 20

    let canvas = document.getElementById("board");
    let context = canvas.getContext("2d");

    let player_type = null
    let board_id = null

    let STATUS_CANNOT_PUT = 'CANNOT_PUT'
    let STATUS_AI_WIN = 'AI_WIN'
    let STATUS_PLAYER_WIN = 'PLAYER_WIN'
    let STATUS_PLAYING = 'PLAYING'

    let piece_order = 1


    function ai_type() {
        if (player_type == 1) {
            return 2
        } else {
            return 1
        }
    }

    function drawBoard() {
        context.fillStyle = '#D5B092'
        context.fillRect(pad, pad,board_size,board_size)
        context.fill();

        context.beginPath();
        context.lineWidth = 2;
        for (let i = 0; i < line_num; i++) {
            // 竖线绘制
            context.moveTo(i * cell_size + pad, pad);
            context.lineTo(i * cell_size + pad, board_size + pad);
            // // 横线绘制
            context.moveTo(pad, i * cell_size + pad);
            context.lineTo(board_size + pad, i * cell_size + pad);
        }
        context.stroke();
    }

    /**
     * draw piece on board
     * @param x
     * @param y
     * @param type black=1, white=2
     */
    function drawPiece(row, col, type) {
        context.beginPath();
        if (type == 1) {
            context.fillStyle = "black"
        } else {
            context.fillStyle = "white"
        }
        point_y = cell_size * row + pad
        point_x = cell_size * col + pad
        context.arc(point_x, point_y, piece_size, 0, Math.PI * 2, false)
        context.fill();

        if (type == 1) {
            context.fillStyle = "white"
        } else {
            context.fillStyle = "black"
        }
        context.font="20px Georgia";
        context.fillText(piece_order, point_x - 5 * piece_order.toString().length, point_y + 5)
        ++piece_order
    }

    function board_click(event){
        // first put
        if (player_type === null) {
            alert('请先点击开始')
            return
        }

        let threshold = 10
        // 保存要落子的坐标
        let row, col
        // 和每一条线进行比较，如果相差10个像素以内，即靠近
        for (let i = 0; i < line_num; i++) {
            if (Math.abs(event.offsetX - (pad + i * cell_size)) < threshold) {
                col = i
            }
            if (Math.abs(event.offsetY - (pad + i * cell_size)) < threshold) {
                // 获得需要的y
                arcPosY = 10 + col * 20;
                row = i;
            }
        }
        if (row !== undefined && col !== undefined) {
            $('#board').unbind('click')

            drawPiece(row, col, player_type)
            $.ajax({
                url: '/put',
                data: {
                    'board_id': board_id,
                    'row': row,
                    'col': col
                },
                type: 'post',
                dataType: 'json',
                success: function (resp) {
                    if (resp.status === STATUS_CANNOT_PUT) {
                        alert('CANNOT_PUT')
                        $('#board').bind('click', board_click)
                    } else if (resp.status === STATUS_AI_WIN) {
                        drawPiece(resp.row, resp.col, ai_type())
                        window.setTimeout(()=>alert('AI WIN'), 500)
                    } else if (resp.status === STATUS_PLAYER_WIN) {
                        alert('Player WIN')
                    } else {
                        drawPiece(resp.row, resp.col, ai_type())
                        $('#board').bind('click', board_click)
                    }
                },
                error: function () {
                    alert('服务异常')
                }
            });
        }
    }

    $('#start-btn').click(() => {
        player_type = $('#player_type').val()
        $.ajax({
            url: '/start',
            data: {
                'player_type': player_type
            },
            type: 'post',
            dataType: 'json',
            success: function (resp) {
                board_id = resp.board_id
                if (player_type == 2) {
                    ai_row = resp.row
                    ai_col = resp.col
                    drawPiece(ai_row, ai_col, ai_type())
                }
                $('#start-btn').attr("disabled", "disabled");
            },
            error: function () {
                alt('服务异常')
            }
        });
    })

    $('#restart-btn').click(() => {
        location.reload()
    })

    drawBoard()
    $('#board').bind('click', board_click)
</script>
</body>
</html>